<div class="row description">
  <div class="col-sm-2">
    <img src="{{albumInfo?.album.coverImage}}" alt="product image" />
  </div>
  <div class="col-sm-6">
    <!--This displays the data returned by the HTTP client,
    that we stored in albumInfo.
    The ? allows the template to know to look for data
    and re-render when it is available -->
    <p class="album-name">{{albumInfo?.album.name}}</p>
    <p class="band-name">{{albumInfo?.artist}}</p>
    <p class="album-release-date">{{albumInfo?.album.releaseDate}}</p>
  </div>
</div>
